:root {
    --primary-colour: #14110F;
    --secondary-colour: #34312D;
    --accent-colour-1: #7E7F83;
    --accent-colour-2: #D9C5B2;
    --accent-colour-3: #F3F3F4;
}

body {
    background-color: var(--primary-colour);
}

* {

    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--accent-colour-2);
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
    color: var(--accent-colour-1);
}

header,
main,
footer {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    margin: 1rem auto;
    align-items: center;
    background-color: var(--primary-colour);
    border: 2px solid var(--secondary-colour);
    align-items: center;
}

header img {
    width: 120px;
    height: auto;
    justify-self: center;
}

/* nav { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--primary-colour);
    color: var(--accent-colour-1);
} */

.navigation a:hover {
    text-decoration: underline;
}

.navigation {
    display: flex;
    color: var(--accent-colour-1);
    justify-content: space-around;
}


.navigation a {
    display: block;
    padding: 20px;

}

nav a {
    color: var(--accent-colour-1);

    background-color: var(--primary-colour);
}

.hero {
    position: relative;
}

.hero h1 {
    color: var(--accent-colour-2);
    display: block;
    width: 100%;
    top: 10%;
    position: absolute;
    text-align: center;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
}

p {
    /* padding: 2rem;
    display: block; */
    width: 100%;
    text-align: left;
}

main {
    width: 100%;
    background-color: var(--primary-colour);
    color: var(--accent-colour-2);
}

main img {
    width: 60%;
    height: auto;
    border: 1px solid var(--heading-background-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--accent-colour-1);
    position: relative;
}


.hero article {
    display: block;
    width: 40rem;
    height: auto;
    background-color: var(--primary-colour);
    border: 2px solid var(--secondary-colour);
    color: var(--accent-colour-2);
    text-align: center;
    position: absolute;
    top: 25rem;
    left: 30%;

}


.hero article img {
    width: 300px;
    height: auto;
    border: 1px solid var(--secondary-colour);
    padding: 16px;
    float: right;
}

section h2 {
    display: grid;
    justify-items: center;
    margin: 20px;
}

.contact{
    /* display: grid; 
    grid-template-columns: 200px auto; */
    width: 100%;
    justify-items: center;
    justify-content: center;
    /* padding: 20px; */
}


.contact #team {
justify-self: left;
display: grid;
grid-template-columns: 1fr;
}

.contact #team h1{
    grid-row: 1 ;
}

.contact #team p {
   grid-row: 2;

}

.contact #emp {
    display: grid; 
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

.contact #emp img {
    width: auto;
    height: 200px;
}

.contact #emp figcaption {
    text-align: center;
}

.contact #contact_info {
    display: grid;
    /* width: 50%;  */
    grid-template-columns: 200px auto;
    justify-content: left;
}

.contact #contact_info aside {
    display: grid;
    grid-row: 1;
    justify-self: left;
    
}

.contact #contact_info #frame {
    display: grid;
    justify-self: center;
    width: 50%;

}

.contact #user_form {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    margin-bottom: 100px;  
}

.contact #user_form form {
    width: 600px;
    background-color: var(--primary-colour);
    border: 2px solid var(--secondary-colour);
    color: var(--accent-colour-2);
    border-radius: 10px;
}
.contact #user_form h2{
    text-align: center;
}

.contact #user_form p {
    margin: 20px;
}
.contact #user_form .move_in {
    margin-left: 20px;
}

.contact #user_form .text_input {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid var(--secondary-colour);
}

.contact #user_form textarea {
 width: 100%; 
 min-height: 100px;
}

.contact #user_form #button{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.contact #user_form button {
    width: 300px; 
    border-radius: 100px;
    height: 50px;
    letter-spacing: 5px;
    justify-content: center;
    background-color: var(--accent2-color);
    font-weight: bold;
    border: 1px solid var(--accent2-color);
}
.contact #user_form button:hover {
    cursor: pointer;
}


.container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.container p {
    display: block;
    max-width: 33%;
    text-align: center;
}

.container img {
    width: 33%;
    height: auto;
    border: 1px solid var(--secondary-colour);
    padding: 16px;
}

.figs {
    display: flex;
    flex-direction: row;
    justify-items: center;
    max-width: 100%;
}

.figs figure img {
    max-width: 1fr;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 2px solid var(--heading-text-colour);
    text-align: left;
    background-color: var(--primary-colour);
    border: 2px solid var(--secondary-colour);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}

footer nav {
    display: block;
    margin: 10px;
    align-self: end;
    grid-column: 3;
    justify-self: end;
}

.wireframe {
    color: var(--accent-colour-2);
}