:root { 
    --primary-colour: #14110F; 
    --secondary-colour: #34312D; 
    --accent-colour-1: #7E7F83; 
    --accent-colour-2: #D9C5B2; 
    --accent-colour-3: #F3F3F4; 
} 

.oswald-text {
  font-family: "Oswald", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap);
}

.montserrat-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap);
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

 

header { 
    font-family: "Oswald", sans-serif; 
    font-weight: 400; 
    font-style: normal; 
    display: block; 
    width: 100%; 
    height: auto;
    background-color: var(--primary-colour);
    border: 2px solid var(--secondary-colour);
    text-decoration: none var(--accent-colour-1);
    

} 

nav { 
    background-color: var(--primary-colour); 
    padding: 10px; 
    color: var(--accent-colour-1);
} 

nav a { 
    color: var(--accent-colour-1); 
    text-decoration: none;
    background-color: var(--primary-colour);
} 

h1 { 
    color: var(--primary-colour); 
    background-color: var(--accent-colour-3);
    display: block;
    width: 1rem;
    height: 1rem;
    top:1rem;
    position: absolute;
} 

nav {
    position: absolute;
    width: 100%;
    height: 20rem;
}

h1 img { 
    display: block; 
    width: 30px; 
    height: auto; 
    border: 1px solid var(--secondary-colour);  
    float: right;
    right: 1rem;
    position: absolute;
}  

.hero img { 
    display:block; 
    width:100%; 
    height:auto;
    position: relative; 
    } 

p { 
    padding: 0; 
    display: block; 
    width: 20rem;
    text-align: left;
} 

main { 
    max-width: 100%; 
    background-color: var(--secondary-colour);
    font-family: "Montserrat", sans-serif; 
    font-weight: 400; 
    font-style: normal; 
} 

main {
    background-color: var(--primary-colour);
    color: var(--accent-colour-2);
    width: 100%;

}

main img {
    width: 60%;
    height: auto;
    border: 1px solid var(--heading-background-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--accent-colour-1);
    position:relative;
    left: 2rem;
}
 

article { 
    display: block; 
    width: 80%; 
    height: 10%;
    background-color: var(--primary-colour); 
    border: 2px solid var(--secondary-colour); 
    color: var(--accent-colour-2); 
    margin: 20px; 
    position: absolute;
    top: 20px;

} 

article img {
    display: block; 
    width: 150px; 
    height: auto; 
    border: 1px solid var(--secondary-colour); 
    padding: 2px; 
    float: right;
}



footer { 
    margin-top: 1rem; 
    border-top: 2px solid var(--heading-text-colour); 
    text-align: left;
    background-color: var(--primary-colour);
    border: 2px solid var(--secondary-colour);
} 

 

 